.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

#main {
  left: 200px;
  transition: margin-left .5s;
  padding: 20px;
}

.sidenav button {
  display: inline-block;
  width: 100%;
  height: 52px;
  background-color: transparent;
  border: transparent;
}

.sidenav button:hover {
  background-color: navy; /* TODO: Make background color only darken custom color */
}

.btn-content {
  display: grid;
  grid-template-columns: 52px auto;
  grid-template-rows: 52px;
}

.nav-icon {
  background-color: coral;
}

.nav-label {
  color: #818181;
  text-align: center;
}



.toggle-icon {
  display: inline-block;
  cursor: pointer;
}

.bar-top, .bar-mid, .bar-bot {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar-top {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar-mid {
  opacity: 0;
}

/* Rotate last bar */
.change .bar-bot {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}